<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.creturn.alfred.12306</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>EA967C1D-5043-4BC9-A024-FBB0B9917B0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89A869E9-2C0F-4802-8707-14C271897BC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zzl</string>
	<key>description</key>
	<string>12306余票查询</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>12306</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7399939E-EAA6-4E11-890B-DCC66D3FCAB9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>89A869E9-2C0F-4802-8707-14C271897BC6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>数据量太大，请稍等...</string>
				<key>script</key>
				<string>require_once('12306.php');

echo train::getInstance()-&gt;run('{query}');</string>
				<key>subtext</key>
				<string>请输入如下格式  广州#长沙#2016-02-02</string>
				<key>title</key>
				<string>12306</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EA967C1D-5043-4BC9-A024-FBB0B9917B0E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7399939E-EAA6-4E11-890B-DCC66D3FCAB9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>89A869E9-2C0F-4802-8707-14C271897BC6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EA967C1D-5043-4BC9-A024-FBB0B9917B0E</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
